@import "./variable";

.wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.minesweeper {
  padding: 25px 15px;
  margin: 0 auto;
  min-width: 300px;
  background-color: var(--bgcolor);
  border-radius: 25px;
  transition: 0.2s;
  &__row:not(:last-child) {
    margin-bottom: $mb + px;
  }
}

@-webkit-keyframes settingsIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes settingsIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.settings {
  display: flex;
  padding: 5px;
  border-radius: 50%;
  background: var(--bgcolor);
  box-shadow: inset 8px 8px 14px var(--boxshadow-one),
    inset -8px -8px 14px var(--boxshadow-two);
  svg {
    fill: var(--textcolor);
    width: $icon-width + px;
    height: $icon-height + px;
    transition: 0.2s;
  }
  transition: 0.2s;
  cursor: pointer;

  &__icon {
    display: flex;
    svg {
      fill: var(--textcolor);
      width: $icon-width + px;
      height: $icon-height + px;
      transition: 0.2s;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: var(--textcolor);
    transition: 0.2s;
  }

  &__settings:hover {
    -webkit-animation: settingsIcon 3 5s linear infinite;
    animation: settingsIcon 5s linear infinite;
    opacity: 0.8;
  }

  &__timer {
  }

  &__bombs {
  }
}
.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 10px;
  background: var(--bgcolor);
  box-shadow: inset 8px 8px 14px var(--boxshadow-one),
    inset -8px -8px 14px var(--boxshadow-two);
  transition: 0.2s;
  &__count {
    color: var(--textcolor);
    margin-left: 10px;
    transition: 0.2s;
  }
  &__icon {
    display: flex;
    color: var(--textcolor);
    transition: 0.2s;
    width: $icon-width + px;
    height: $icon-height + px;
  }
}
.bombs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 10px;
  background: var(--bgcolor);
  box-shadow: inset 8px 8px 14px var(--boxshadow-one),
    inset -8px -8px 14px var(--boxshadow-two);
  transition: 0.2s;

  &__icon {
    display: flex;
    color: var(--textcolor);
    transition: 0.2s;
    width: $icon-width + px;
    height: $icon-height + px;
  }

  &__count {
    color: var(--textcolor);
    margin-left: 10px;
    transition: 0.2s;
  }
}

.field {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 10px;
}

.button {
  width: 30px;
  height: 30px;
  border: 1px solid #1a1a1a;
  border-radius: 10px;

  background: #272626;
  box-shadow: inset 5px -5px 9px #1e1d1d, inset -5px 5px 9px #302f2f;
  &.one {
    color: var(--numone);
  }
  &.two {
    color: var(--numtwo);
  }
  &.three {
    color: var(--numthree);
  }
}

// .button:active {
//   -o-border-image:25px;
//      border-image-radius:25px;
//   --angle: 0deg;
//   -o-border-image: linear-gradient(var(--angle), green, yellow) 1;
//   border-image: linear-gradient(var(--angle), green, yellow) 1;
//   -webkit-animation: 10s rotate linear infinite;
//   animation: 10s rotate linear infinite;
// }

// @-webkit-keyframes rotate {
//   to {
//     --angle: 360deg;
//   }
// }

// @keyframes rotate {
//   to {
//     --angle: 360deg;
//   }
// }

// @property --angle {
//   syntax: '<angle>';
//   initial-value: 0deg;
//   inherits: false;
// }
// }
