@import "./variable";

.wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.minesweeper {
  position: relative;
  padding: 25px 15px;
  margin: 0 auto;
  min-width: 300px;
  background-color: var(--bg-field-color);
  border-radius: 25px;
  box-shadow: 0px 0px 10px 1px var(--textcolor);
  transition: 0.2s;
  &__row:not(:last-child) {
    margin-bottom: $mb + px;
  }
}

@-webkit-keyframes settingsIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes settingsIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.settings-btn {
  & .settings-btn__icon {
    color: var(--bg-field-color);
    margin-left: 10px;
  }

  & .settings-btn__text {
    pointer-events: none;
  }

  &:hover {
    & .settings-btn__icon {
      -webkit-animation: settingsIcon 3 5s linear infinite;
      animation: settingsIcon 5s linear infinite;
      opacity: 0.8;
      transition: 0.2s;
    }
    & .settings-btn__text {
      opacity: 0.8;
      transition: 0.2s;
    }
  }
  svg {
    fill: var(--textcolor);
    width: $icon-width + px;
    height: $icon-height + px;
    transition: 0.2s;
  }
  transition: 0.2s;
  cursor: pointer;

  &__icon {
    display: flex;
    pointer-events: none;
    svg {
      fill: var(--textcolor);
      width: $icon-width + px;
      height: $icon-height + px;
      transition: 0.2s;
    }
  }
}

.reset {
  &__text {
    margin: 0 auto;
  }
}

.reset:hover {
  & .reset__text {
    opacity: 0.8;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: var(--textcolor);
    transition: 0.2s;
  }

  &__info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px 10px;
    width: $infoBlockWidth + px;
    font-size: $fontSize + px;
    color: var(--textcolor);
    background: var(--bg-field-color);
    box-shadow: 3px 3px 10px var(--boxshadow-one),
      -1px -1px 6px var(--boxshadow-two);
    transition: 0.2s;
    
    & .status__title {
      margin: 0 auto;
    }
  }
}
.timer {
  &__count {
    margin-left: 10px;
  }
  &__icon {
    display: flex;
    width: $icon-width + px;
    height: $icon-height + px;
  }
}
.bombs {
  &__icon {
    display: flex;
    transition: 0.2s;
    width: $icon-width + px;
    height: $icon-height + px;
  }
}

.field {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 10px;
  &[size="hard"] {
    .field {
      @media (min-width: 500px) {
        gap: 5px;
      }
      @media (min-width: 991px) {
        gap: 10px;
      }
    }
    .button {
      @media (min-width: 500px) {
        width: 10px;
        height: 10px;
      }
      @media (min-width: 991px) {
        width: 20px;
        height: 20px;
      }
      @media (min-width: 1200px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &[size="medium"] {
    @media (min-width: 500px) {
      gap: 10px;
    }
    .button {
      @media (min-width: 500px) {
        width: 18px;
        height: 18px;
      }
      @media (min-width: 700px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  .button {
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-button);
    border-radius: 10px;
    background: var(--bg-button);
    box-shadow: 3px 3px 10px rgb(0, 0, 0),
      -1px -1px 6px rgba(255, 255, 255, 0.4);
    font-size: $buttonInnerSize + px;
    transition: 0.2s;
    &.code-1 {
      color: var(--numone);
    }
    &.code-2 {
      color: var(--numtwo);
    }
    &.code-3 {
      color: var(--numthree);
    }
    &.opened {
      box-shadow: 3px 3px 10px rgb(0, 0, 0),
        -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgb(0, 0, 0),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
    }
    &.flagged {
      background-color: var(--close-mines);
    }
    &.code-M {
      background-image: url(../../assets/favicon-16x16.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
